<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualisation - DV</title>
    <link rel="stylesheet" href="/static/CSS/all.css">
    <link rel="stylesheet" href="/static/CSS/charts.css">
    <style>
        #submitButton {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: coral;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        #submitButton:hover {
            background-color: #ff6f61; 
        }
        #chartContainer { width: 100%; height: 600px; margin-top: 20px; }
    
        .spinner {
            border: 4px solid rgba(255, 111, 97, 0.2);
            border-left-color: #ff6f61;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-area">
                <span class="logo-circle"></span>
                <span class="logo-text">Data Visualisation - DV</span>
            </div>
            <button class="menu-button">☰</button>
        </header>
        <div class="side-menu" id="sideMenu">
            <button class="close-button">X</button>
            <h1>What would you like to See?</h1>
            <a href="/charts">Chart Overview</a>
            <a href="#">Edit/Clear Data</a>
            <a href="#">Forecast</a>
            <a href="#">My Profile</a>
            <a href="/login">Sign In</a>
            <a href="/">Log Out</a>
        </div>
        <main class="main">
            <section class="data-selection">
                <h2>Please Choose your Data</h2>
                <form id="dataForm">
                    <label for="xAxis">X-Axis</label>
                    <select id="xAxis" name="xAxis">
                        <option value="None">None</option>
                        <optgroup label="Orders">
                            <option value="orders.OrderID">OrderID</option>
                            <option value="orders.CustomerID">CustomerID</option>
                            <option value="orders.StoreID">StoreID</option>
                            <option value="orders.OrderDate">Order Date</option>
                            <option value="orders.nItems">Number of Items</option>
                            <option value="orders.total">Total</option>
                        </optgroup>
                        <optgroup label="Customers">
                            <option value="customers.CustomerID">CustomerID</option>
                            <option value="customers.Latitude">Latitude</option>
                            <option value="customers.Longitude">Longitude</option>
                        </optgroup>
                        <optgroup label="Order Items">
                            <option value="orderItems.SKU">SKU</option>
                            <option value="orderItems.OrderID">OrderID</option>
                        </optgroup>
                        <optgroup label="Products">
                            <option value="products.SKU">SKU</option>
                            <option value="products.Name">Name</option>
                            <option value="products.Price">Price</option>
                            <option value="products.Category">Category</option>
                            <option value="products.Size">Size</option>
                            <option value="products.Ingredients">Ingredients</option>
                            <option value="products.Launch">Launch</option>
                        </optgroup>
                        <optgroup label="Stores">
                            <option value="stores.StoreID">StoreID</option>
                            <option value="stores.Zipcode">Zipcode</option>
                            <option value="stores.StateShort">StateShort</option>
                            <option value="stores.Latitude">Latitude</option>
                            <option value="stores.Longitude">Longitude</option>
                        </optgroup>
                    </select>
                    <label for="yAxis">Y-Axis</label>
                    <select id="yAxis" name="yAxis">
                        <option value="None">None</option>
                        <optgroup label="Orders">
                            <option value="orders.OrderID">OrderID</option>
                            <option value="orders.CustomerID">CustomerID</option>
                            <option value="orders.StoreID">StoreID</option>
                            <option value="orders.OrderDate">Order Date</option>
                            <option value="orders.nItems">Number of Items</option>
                            <option value="orders.total">Total</option>
                        </optgroup>
                        <optgroup label="Customers">
                            <option value="customers.CustomerID">CustomerID</option>
                            <option value="customers.Latitude">Latitude</option>
                            <option value="customers.Longitude">Longitude</option>
                        </optgroup>
                        <optgroup label="Order Items">
                            <option value="orderItems.SKU">SKU</option>
                            <option value="orderItems.OrderID">OrderID</option>
                        </optgroup>
                        <optgroup label="Products">
                            <option value="products.SKU">SKU</option>
                            <option value="products.Name">Name</option>
                            <option value="products.Price">Price</option>
                            <option value="products.Category">Category</option>
                            <option value="products.Size">Size</option>
                            <option value="products.Ingredients">Ingredients</option>
                            <option value="products.Launch">Launch</option>
                        </optgroup>
                        <optgroup label="Stores">
                            <option value="stores.StoreID">StoreID</option>
                            <option value="stores.Zipcode">Zipcode</option>
                            <option value="stores.StateShort">StateShort</option>
                            <option value="stores.Latitude">Latitude</option>
                            <option value="stores.Longitude">Longitude</option>
                        </optgroup>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </section>
            <section id="chartContainer" class="chart-container">
                <div id="chart" style="width: 100%; height: 600px;"></div>
            </section>
        </main>
        <div id="loading" style="display:none;">
            <div class="spinner"></div>
            <p>Please hold on: Your Data is being extracted from the Database.</p>
            <p id="progress">Loading: 0%</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            // Formularsubmit-Ereignis überwachen
            $('#dataForm').submit(function(e){
                e.preventDefault(); // Verhindert das Standardverhalten des Formulars
    
                // Ausgewählte Achsenwerte erhalten
                var xAxis = $('#xAxis').val();
                var yAxis = $('#yAxis').val();
    
                // AJAX-Anforderung senden, um Daten aus der Datenbank abzurufen
                fetchData(xAxis, yAxis);
            });
    
            // Funktion zum Laden und Verarbeiten der Daten
            function fetchData(xAxis, yAxis) {
                $.post('/getdata', { table: xAxis.split('.')[0], column: xAxis.split('.')[1] }, function(dataX) {
                    if (dataX.data) {
                        const xAxisData = dataX.data.map(entry => parseFloat(entry)); // Konvertieren Sie die Zeichenfolgen in Zahlen
    
                        $.post('/getdata', { table: yAxis.split('.')[0], column: yAxis.split('.')[1] }, function(dataY) {
                            if (dataY.data) {
                                const yAxisData = dataY.data.map(entry => parseFloat(entry)); // Konvertieren Sie die Zeichenfolgen in Zahlen
    
                                // Daten für das Scatter-Chart vorbereiten
                                var scatterData = xAxisData.map((x, index) => [x, yAxisData[index]]);
    
                                // Scatter-Chart-Optionen setzen
                                var option = {
                                    tooltip: {
                                        trigger: 'axis',
                                        position: function (pt) {
                                            return [pt[0], '10%'];
                                        }
                                    },
                                    title: {
                                        left: 'center',
                                        text: 'Scatter Chart'
                                    },
                                    toolbox: {
                                        feature: {
                                            dataZoom: {
                                                yAxisIndex: 'none'
                                            },
                                            restore: {},
                                            saveAsImage: {}
                                        }
                                    },
                                    xAxis: {
                                        type: 'value'
                                    },
                                    yAxis: {
                                        type: 'value'
                                    },
                                    dataZoom: [
                                        {
                                            type: 'inside',
                                            start: 0,
                                            end: 100
                                        },
                                        {
                                            start: 0,
                                            end: 100
                                        }
                                    ],
                                    series: [{
                                        symbolSize: 20,
                                        data: scatterData,
                                        type: 'scatter'
                                    }]
                                };
    
                                // Scatter-Chart initialisieren und Optionen setzen
                                var chartDom = document.getElementById('chart');
                                var myChart = echarts.init(chartDom);
                                myChart.setOption(option);
                            }
                        });
                    } else {
                        console.error('Error fetching X-Axis data:', dataX);
                    }
                });
            }
        });
    </script>
    
    <script src="/static/JS/sidemenu.js"></script>
</body>
</html>
