<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Visualisation - DV</title>
    <link rel="stylesheet" href="/static/CSS/all.css" />
    <link rel="stylesheet" href="/static/CSS/customerdash.css" />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/MarkerCluster.Default.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-area">
          <span class="logo-circle"></span>
          <span class="logo-text">Data Visualisation - DV</span>
        </div>
        <button class="menu-button">☰</button>
      </header>
      <div class="side-menu" id="sideMenu">
        <button class="close-button">X</button>
        <div class="dropdown">
          <a href="/charts" class="dropdown-btn">Chart Overview</a>
          <div class="dropdown-content">
            <a href="/stackedChart">Stacked Area Chart</a>
            <a href="/largeScaleChart">Scale Area Chart</a>
            <a href="/basicScatterChart">Basic Scatter Chart</a>
            <a href="/donutChart">Donut Chart</a>
            <a href="/interactiveMap">Interactive Map</a>
            <a href="/basicBarChart">Bar Chart</a>
            <a href="/heatmap">Heatmap</a>
            <a href="/boxplot">Boxplot</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropdown-btn">Dashboard</a>
          <div class="dropdown-content">
            <a href="/salesperformancedash">Sales Performance Dashboard</a>
            <a href="/storeperformancedash">Store Performance Dashboard</a>
            <a href="/customerdash">Customer Insights Dashboard</a>
            <a href="/productdash">Product Performance Dashboard</a>
            <a href="/test">Customizable Dashboard (Beta)</a>
          </div>
        </div>
        <a href="/login">Sign In</a>
        <a href="/">Log Out</a>
      </div>
    </div>
    <main class="main">
      <section class="data-selection">
        <h1 class="dashboard-title">Customers Insights Dashboard</h1>
        <div class="button-container">
          <button id="exportJsonButton" class="modern-button">
            Export JSON
          </button>
          <button id="importJsonButton" class="modern-button">
            Import JSON
          </button>
          <input type="file" id="fileInput" style="display: none" />
        </div>
        <div id="importJsonPopup" class="popup">
          <div class="popup-content">
            <span class="schließen-button">&times;</span>
            <h2>Drag and Drop JSON File Here</h2>
            <div id="dropArea" class="drop-area">
              <p>
                Drop your JSON file here or
                <button id="fileSelectButton" class="modern-button">
                  Select File
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="chart-container">
          <div id="chart1" class="chart draggable-chart">
            <div id="myChart1" style="width: 100%; height: 100%"></div>
          </div>
          <div id="chart2" class="chart draggable-chart">
            <div id="myChart2" style="width: 100%; height: 100%"></div>
          </div>
          <div id="chart3" class="chart draggable-chart">
            <div id="myChart3" style="width: 100%; height: 100%"></div>
          </div>
          <div id="chart4" class="chart draggable-chart">
            <div id="myChart4" style="width: 100%; height: 100%"></div>
          </div>
          <div id="chart5" class="chart large">
            <div id="myChart5" style="width: 100%; height: 100%"></div>
          </div>
          <div id="chart7" class="chart large">
            <div id="myChart7" style="width: 100%; height: 100%"></div>
          </div>
        </div>
      </section>
    </main>
    <script src="/static/JS/offline.bibliotheken.js/echarts.js"></script>
    <script src="/static/JS/sidemenu.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/jQuery-3.6.0.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/leaflet.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/leaflet.markercluster.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/heatmap.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/leaflet.heatmap.js"></script>
    <script src="/static/JS/customer.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/sortable.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var sortable = new Sortable(
          document.querySelector(".chart-container"),
          {
            animation: 150,
            ghostClass: "sortable-ghost",
            swap: true,
            swapClass: "highlight",
            filter: ".chart:not(.draggable-chart)",
            onMove: function (evt) {
              return evt.related.classList.contains("draggable-chart");
            },
          }
        );
      });
    </script>
  </body>
</html>
