<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Visualisation - DV</title>
    <link rel="stylesheet" href="/static/CSS/all.css" />
    <link rel="stylesheet" href="/static/CSS/login.css" />
    <style></style>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-area">
          <span class="logo-circle"></span>
          <span class="logo-text">Data Visualisation - DV</span>
        </div>
        <div class="auth-buttons">
          <button class="menu-button">☰</button>
        </div>
      </header>
      <div class="side-menu" id="sideMenu">
        <button class="close-button">X</button>
        <a href="/charts">Chart Overview</a>
        <div class="dropdown">
          <a href="#" class="dropdown-btn">Dashboard</a>
          <div class="dropdown-content">
            <a href="/salesperformancedash">Sales Performance Dashboard</a>
            <a href="/storeperformancedash">Store Performance Dashboard</a>
            <a href="/customerdash">Customer Insights Dashboard</a>
            <a href="/productdash">Product Performance Dashboard</a>
          </div>
        </div>
        <a href="/login">Sign In</a>
        <a href="/">Log Out</a>
      </div>
      <main class="main">
        <div class="login-box">
          <form class="login-form">
            <h2>We're glad, that you are using DV</h2>
            <p>In Order to start please Sign In with your Credentials.</p>
            <input type="email" placeholder="Company Email" required />
            <input type="password" placeholder="Password" required />
            <button type="submit">Sign In</button>
          </form>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="/static/JS/sidemenu.js"></script>
  </body>
</html>
