<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ergebnisse der Berechnungen</title>
</head>
<body>
    <h2>Ergebnisse der {{ stat_choice }} Berechnung für {{ table_choice }}</h2>
    <form action="/performstats" method="post">
        <input type="hidden" name="table-choice" value="{{ table_choice }}">
        <input type="hidden" name="stat-choice" value="{{ stat_choice }}">
        <label for="column-choice">Wähle eine Option:</label>
        <select id="column-choice" name="column-choice">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <button type="submit">Berechnung durchführen</button>
    </form>
    <br>
    <form action="/">
        <button type="submit">Zurück zur Startseite</button>
    </form>
</body>
</html>