<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualisation - DV</title>
    <link rel="stylesheet" href="/static/CSS/all.css">
    <link rel="stylesheet" href="/static/CSS/charts.css">
    <style>
        #submitButton, #addGraphButton, #applyGraphsButton {
            margin-top: 10px;
            padding: 12px 24px;
            font-size: 16px;
            color: #fff;
            background-color: coral;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        #submitButton:hover, #addGraphButton:hover, #applyGraphsButton:hover {
            background-color: #ff704d;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }

        .hidden { display: none; }

        .close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
        }

        .close-btn:hover {
            background-color: darkred;
        }

        .options-menu {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            z-index: 1000;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 600px;
            max-height: 80%;
            overflow-y: auto;
        }

        .data-selection {
            display: flex;
            width: 100%;
            justify-content: space-between;        
        }

        .form-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .form-container label, .form-container select, .form-container button {
            width: 100%;
            margin-bottom: 10px;
        }

        .chart-container #chart {
            width: 100%;
            height: 100%;
        }

        .popup-form-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .popup-form-container label, .popup-form-container select {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-area">
                <span class="logo-circle"></span>
                <span class="logo-text">Data Visualisation - DV</span>
            </div>
            <button class="menu-button">☰</button>
        </header>
        <div class="side-menu" id="sideMenu">
            <button class="close-button">X</button>
            <h1>What would you like to See?</h1>
            <a href="/charts">Chart Overview</a>
            <a href="#">Edit/Clear Data</a>
            <a href="#">Forecast</a>
            <a href="#">My Profile</a>
            <a href="/login">Sign In</a>
            <a href="/">Log Out</a>
        </div>
        <main class="main">
            <section class="data-selection">
                <form id="dataForm" class="form-container">
                    <div>
                        <h2>Please Choose your Data for a Stacked Area Chart</h2>
                        <label for="xTable">Table for X-Axis</label>
                        <select id="xTable" name="xTable">
                            <option value="">None</option>
                        </select>

                        <label for="xColumn">Column for X-Axis</label>
                        <select id="xColumn" name="xColumn">
                            <option value="">None</option>
                        </select>

                        <label for="yTable1">Table for Y-Axis 1</label>
                        <select id="yTable1" name="yTable1">
                            <option value="">None</option>
                        </select>

                        <label for="yColumn1">Column for Y-Axis 1</label>
                        <select id="yColumn1" name="yColumn1">
                            <option value="">None</option>
                        </select>

                        <label for="aggregationSelect">Aggregation</label>
                        <select id="aggregationSelect" name="aggregationSelect">
                            <option value="">No Aggregation</option>
                            <option value="Summe">Sum</option>
                            <option value="Max">Max</option>
                            <option value="Min">Min</option>
                            <option value="Anzahl">Count</option>
                            <option value="Diskrete Anzahl">Distinct Count</option>
                            <option value="Durchschnitt">Average</option>
                            <option value="Standardabweichung">Standard deviation</option>
                            <option value="Varianz">Variance</option>
                            <option value="Median">Median</option>
                            <option value="Erstes Quartil">Q1 Quartile</option>
                            <option value="Drittes Quartil">Q3 Quartile</option>
                        </select>

                        <button type="submit" id="submitButton">Submit</button>
                        <button type="button" id="addGraphButton">Add Graph</button>
                    </div>
                </form>
                <div class="chart-container">
                    <div id="chart"></div>
                </div>
            </section>
        </main>
    </div>

    <div id="popup" class="options-menu hidden">
        <button class="close-btn" onclick="togglePopup()">X</button>
        <h2>Add Additional Graphs</h2>
        <form class="popup-form-container" id="popupForm">
            <label for="yTable3">Table for Y-Axis 3</label>
            <select id="yTable3" name="yTable3">
                <option value="">None</option>
            </select>

            <label for="yColumn3">Column for Y-Axis 3</label>
            <select id="yColumn3" name="yColumn3">
                <option value="">None</option>
            </select>

            <label for="aggregationSelect3">Aggregation 3</label>
            <select id="aggregationSelect3" name="aggregationSelect3">
                <option value="">No Aggregation</option>
                <option value="Summe">Sum</option>
                <option value="Max">Max</option>
                <option value="Min">Min</option>
                <option value="Anzahl">Count</option>
                <option value="Diskrete Anzahl">Distinct Count</option>
                <option value="Durchschnitt">Average</option>
                <option value="Standardabweichung">Standard deviation</option>
                <option value="Varianz">Variance</option>
                <option value="Median">Median</option>
                <option value="Erstes Quartil">Q1 Quartile</option>
                <option value="Drittes Quartil">Q3 Quartile</option>
            </select>

            <label for="yTable4">Table for Y-Axis 4</label>
            <select id="yTable4" name="yTable4">
                <option value="">None</option>
            </select>

            <label for="yColumn4">Column for Y-Axis 4</label>
            <select id="yColumn4" name="yColumn4">
                <option value="">None</option>
            </select>

            <label for="aggregationSelect4">Aggregation 4</label>
            <select id="aggregationSelect4" name="aggregationSelect4">
                <option value="">No Aggregation</option>
                <option value="Summe">Sum</option>
                <option value="Max">Max</option>
                <option value="Min">Min</option>
                <option value="Anzahl">Count</option>
                <option value="Diskrete Anzahl">Distinct Count</option>
                <option value="Durchschnitt">Average</option>
                <option value="Standardabweichung">Standard deviation</option>
                <option value="Varianz">Variance</option>
                <option value="Median">Median</option>
                <option value="Erstes Quartil">Q1 Quartile</option>
                <option value="Drittes Quartil">Q3 Quartile</option>
            </select>

            <label for="yTable5">Table for Y-Axis 5</label>
            <select id="yTable5" name="yTable5">
                <option value="">None</option>
            </select>

            <label for="yColumn5">Column for Y-Axis 5</label>
            <select id="yColumn5" name="yColumn5">
                <option value="">None</option>
            </select>

            <label for="aggregationSelect5">Aggregation 5</label>
            <select id="aggregationSelect5" name="aggregationSelect5">
                <option value="">No Aggregation</option>
                <option value="Summe">Sum</option>
                <option value="Max">Max</option>
                <option value="Min">Min</option>
                <option value="Anzahl">Count</option>
                <option value="Diskrete Anzahl">Distinct Count</option>
                <option value="Durchschnitt">Average</option>
                <option value="Standardabweichung">Standard deviation</option>
                <option value="Varianz">Variance</option>
                <option value="Median">Median</option>
                <option value="Erstes Quartil">Q1 Quartile</option>
                <option value="Drittes Quartil">Q3 Quartile</option>
            </select>

            <label for="yTable6">Table for Y-Axis 6</label>
            <select id="yTable6" name="yTable6">
                <option value="">None</option>
            </select>

            <label for="yColumn6">Column for Y-Axis 6</label>
            <select id="yColumn6" name="yColumn6">
                <option value="">None</option>
            </select>

            <label for="aggregationSelect6">Aggregation 6</label>
            <select id="aggregationSelect6" name="aggregationSelect6">
                <option value="">No Aggregation</option>
                <option value="Summe">Sum</option>
                <option value="Max">Max</option>
                <option value="Min">Min</option>
                <option value="Anzahl">Count</option>
                <option value="Diskrete Anzahl">Distinct Count</option>
                <option value="Durchschnitt">Average</option>
                <option value="Standardabweichung">Standard deviation</option>
                <option value="Varianz">Variance</option>
                <option value="Median">Median</option>
                <option value="Erstes Quartil">Q1 Quartile</option>
                <option value="Drittes Quartil">Q3 Quartile</option>
            </select>

            <button type="button" id="applyGraphsButton">Apply Graphs</button>
        </form>
    </div>

    <script src="/static/JS/sidemenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let chartInstance = null;
        let darkMode = false;
        let decalPattern = false;
        let filter = [];
        let highlightedPoints = {};
        let updateQueue = [];
        let updating = false;
        const colorPalette = ['#5470C6', '#91CC75', '#EE6666', '#73C0DE', '#FAC858', '#3BA272', '#FC8452', '#9A60B4', '#EA7CCC'];
        const seriesInfo = [];

        $(document).ready(function() {
            $.get("/tables", function(data) {
                window.availableTables = data.tables;
                populateSelectOptions();
            });

            $('#dataForm').on('submit', function(event) {
                event.preventDefault();
                addChart();
            });

            $('#xTable').on('change', function() {
                loadColumns($(this).val(), '#xColumn');
            });

            $('#yTable1').on('change', function() {
                loadColumns($(this).val(), '#yColumn1');
            });

            $('#addGraphButton').on('click', function() {
                togglePopup();
            });

            $('#applyGraphsButton').on('click', function() {
                addAdditionalGraphs();
                togglePopup();
            });

            $('#popupForm').on('change', 'select', function() {
                const id = $(this).attr('id');
                if (id.startsWith('yTable')) {
                    const columnSelectId = '#' + id.replace('Table', 'Column');
                    loadColumns($(this).val(), columnSelectId);
                }
            });
        });

        function togglePopup() {
            $('#popup').toggleClass('hidden');
        }

        function populateSelectOptions() {
            availableTables.forEach(table => {
                $('#xTable, #yTable1, #yTable3, #yTable4, #yTable5, #yTable6').append(`<option value="${table}">${table}</option>`);
            });
        }

        function loadColumns(table, columnSelect) {
            if (table) {
                $.post("/columns", { table: table }, function(data) {
                    const columnDropdown = $(columnSelect);
                    columnDropdown.html('<option value="">None</option>');
                    data.columns.forEach(column => {
                        columnDropdown.append(`<option value="${column}">${column}</option>`);
                    });
                });
            }
        }

        function addChart() {
            if (chartInstance) {
                chartInstance.dispose();
            }

            const chartContainer = document.getElementById('chart');
            chartContainer.innerHTML = '';

            chartInstance = echarts.init(chartContainer);

            const table1 = $('#yTable1').val();
            const column1 = $('#yColumn1').val();
            const table2 = $('#xTable').val();
            const column2 = $('#xColumn').val();
            const aggregationType = $('#aggregationSelect').val();

            const requestData = {
                tables: [table2, table1],
                columns: [column2, column1],
                chartType: 'stacked',
                aggregations: ["", aggregationType],
                filters: filter
            };

            seriesInfo.push({ column: column1, aggregation: aggregationType });

            $.ajax({
                url: "/getdata",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(requestData),
                success: function(response) {
                    const series = [{
                        name: column1,
                        type: 'line',
                        stack: 'total',
                        areaStyle: decalPattern ? { decal: { symbol: 'rect' } } : {},
                        itemStyle: {
                            color: colorPalette[0]
                        },
                        data: response.dataY.map((y, index) => {
                            const xValue = response.dataX[index];
                            const key = `${chartInstance.id}-${xValue}`;
                            const isHighlighted = highlightedPoints[key];
                            return {
                                value: y,
                                itemStyle: {
                                    borderColor: isHighlighted ? 'black' : null,
                                    borderWidth: isHighlighted ? 2 : 0,
                                    color: response.colors ? response.colors[index] : null
                                }
                            };
                        })
                    }];

                    const option = {
                        color: colorPalette,
                        title: {
                            left: 'center',
                            text: 'Stacked Area Chart'
                        },
                        tooltip: {
                            trigger: 'axis',
                            formatter: function(params) {
                                let result = `${params[0].name}<br/>`;
                                params.forEach((item, index) => {
                                    const seriesInfoItem = seriesInfo[index];
                                    result += `${item.marker} ${item.seriesName}: ${item.value} (Y Column: ${seriesInfoItem.column}, Aggregation: ${seriesInfoItem.aggregation})<br/>`;
                                });
                                return result;
                            }
                        },
                        legend: {
                            data: [column1],
                            top: '5%'
                        },
                        xAxis: {
                            type: 'category',
                            name: column2,
                            boundaryGap: false,
                            data: response.dataX
                        },
                        yAxis: {
                            type: 'value',
                            name: column1
                        },
                        series: series,
                        backgroundColor: darkMode ? '#333' : '#fff',
                        textStyle: { color: darkMode ? '#fff' : '#000' },
                        toolbox: {
                            feature: {
                                saveAsImage: {},
                                myDarkMode: {
                                    show: true,
                                    title: 'Dark Mode',
                                    icon: 'path://M512 0C229.23072 0 0 229.23072 0 512s229.23072 512 512 512 512-229.23072 512-512S794.76928 0 512 0z m0 938.0864c-234.24 0-426.0864-191.8464-426.0864-426.0864S277.76 85.9136 512 85.9136c55.7312 0 111.4624 11.7248 163.6864 35.0208-32.768 56.32-87.04 94.72-151.0912 105.2672-78.4896 13.7216-147.2-12.288-199.7312-55.808 0 0-12.6976 80.9472-12.6976 119.296 0 136.3968 104.7552 247.9104 239.9232 261.8368 79.872 8.2944 152.576-24.7808 198.3488-80.64 28.2624 48.64 45.568 106.752 45.568 170.3424 0 234.24-191.8464 426.0864-426.0864 426.0864z',
                                    onclick: function() {
                                        darkMode = !darkMode;
                                        updateChartAppearance();
                                    }
                                },
                                myDecalPattern: {
                                    show: true,
                                    title: 'Decal Pattern',
                                    icon: 'path://M50 250 Q 150 50 250 250 T 450 250',
                                    onclick: function() {
                                        decalPattern = !decalPattern;
                                        updateChartAppearance();
                                    }
                                },
                                myCloseChart: {
                                    show: true,
                                    title: 'Close Chart',
                                    icon: 'path://M512 512l212.48-212.48a32 32 0 0 0-45.248-45.248L512 421.504 299.52 209.024a32 32 0 1 0-45.248 45.248L466.752 512 254.272 724.48a32 32 0 1 0 45.248 45.248L512 602.496l212.48 212.48a32 32 0 0 0 45.248-45.248L557.248 512z',
                                    onclick: function() {
                                        chartInstance.dispose();
                                    }
                                }
                            }
                        },
                        dataZoom: [
                            {
                                type: 'inside',
                                start: 0,
                                end: 100
                            },
                            {
                                start: 0,
                                end: 100
                            }
                        ]
                    };

                    chartInstance.setOption(option);
                    processQueue();
                },
                error: function(xhr, status, error) {
                    console.error("Error: ", status, error);
                    processQueue();
                }
            });

            chartContainer.addEventListener('contextmenu', function(event) {
                event.preventDefault();
            });
        }

        function addAdditionalGraphs() {
            const additionalGraphs = [
                { table: $('#yTable3').val(), column: $('#yColumn3').val(), aggregation: $('#aggregationSelect3').val() },
                { table: $('#yTable4').val(), column: $('#yColumn4').val(), aggregation: $('#aggregationSelect4').val() },
                { table: $('#yTable5').val(), column: $('#yColumn5').val(), aggregation: $('#aggregationSelect5').val() },
                { table: $('#yTable6').val(), column: $('#yColumn6').val(), aggregation: $('#aggregationSelect6').val() }
            ];

            additionalGraphs.forEach((graph, index) => {
                if (graph.table && graph.column) {
                    const requestData = {
                        tables: [$('#xTable').val(), graph.table],
                        columns: [$('#xColumn').val(), graph.column],
                        chartType: 'stacked',
                        aggregations: ["", graph.aggregation],
                        filters: filter
                    };

                    seriesInfo.push({ column: graph.column, aggregation: graph.aggregation });

                    $.ajax({
                        url: "/getdata",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(requestData),
                        success: function(response) {
                            const newSeries = {
                                name: graph.column,
                                type: 'line',
                                stack: 'total',
                                areaStyle: decalPattern ? { decal: { symbol: 'rect' } } : {},
                                itemStyle: {
                                    color: colorPalette[(index + 1) % colorPalette.length]
                                },
                                data: response.dataY.map((y, index) => {
                                    const xValue = response.dataX[index];
                                    const key = `${chartInstance.id}-${xValue}`;
                                    const isHighlighted = highlightedPoints[key];
                                    return {
                                        value: y,
                                        itemStyle: {
                                            borderColor: isHighlighted ? 'black' : null,
                                            borderWidth: isHighlighted ? 2 : 0,
                                            color: response.colors ? response.colors[index] : null
                                        }
                                    };
                                })
                            };

                            const option = chartInstance.getOption();
                            option.series.push(newSeries);
                            option.legend[0].data.push(graph.column);
                            chartInstance.setOption(option, true);
                        },
                        error: function(xhr, status, error) {
                            console.error("Error: ", status, error);
                        }
                    });
                }
            });
        }

        function updateChartAppearance() {
            if (chartInstance) {
                chartInstance.setOption({
                    backgroundColor: darkMode ? '#333' : '#fff',
                    textStyle: { color: darkMode ? '#fff' : '#000' },
                    series: chartInstance.getOption().series.map(serie => ({
                        ...serie,
                        areaStyle: decalPattern ? { decal: { symbol: 'rect' } } : {}
                    }))
                });
            }
        }
    </script>
</body>
</html>
