<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Statistical Calculations</title>
</head>
<body>
    <form action="/performstats" method="post">
        <label for="table-choice">Choose a Table:</label>
        <select id="table-choice" name="table-choice">
            <option value="stores">stores</option>
            <option value="customers">customers</option>
            <option value="products">products</option>
        </select>
        <label for="stat-choice">Choose a Calculation:</label>
        <select id="stat-choice" name="stat-choice">
            <option value="Sum">Sum</option>
            <option value="Mean">Mean</option>
            <option value="Median">Median</option>
            <option value="Range">Range</option>
            <option value="Standard Deviation">Standard Deviation</option>
            <option value="Q1">Q1</option>
            <option value="Q2">Q2</option>
            <option value="Q3">Q3</option>
        </select>
        <button type="submit">Confirm Calculation</button>
    </form>
    <br>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
</body>
</html>
