<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/CSS/all.css" />
    <link rel="stylesheet" href="/static/CSS/all2.css" />
    <link rel="stylesheet" href="/static/CSS/charts.css" />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="/static/CSS/offline.bibliotheken.css/MarkerCluster.Default.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-area">
          <span class="logo-circle"></span>
          <span class="logo-text">Data Visualisation - DV</span>
        </div>
        <button class="menu-button">☰</button>
      </header>
      <div class="side-menu" id="sideMenu">
        <button class="close-button">X</button>
        <div class="dropdown">
          <a href="/charts" class="dropdown-btn">Chart Overview</a>
          <div class="dropdown-content">
            <a href="/stackedChart">Stacked Area Chart</a>
            <a href="/largeScaleChart">Scale Area Chart</a>
            <a href="/basicScatterChart">Basic Scatter Chart</a>
            <a href="/donutChart">Donut Chart</a>
            <a href="/interactiveMap">Interactive Map</a>
            <a href="/basicBarChart">Bar Chart</a>
            <a href="/heatmap">Heatmap</a>
            <a href="/boxplot">Boxplot</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropdown-btn">Dashboard</a>
          <div class="dropdown-content">
            <a href="/salesperformancedash">Sales Performance Dashboard</a>
            <a href="/storeperformancedash">Store Performance Dashboard</a>
            <a href="/customerdash">Customer Insights Dashboard</a>
            <a href="/productdash">Product Performance Dashboard</a>
            <a href="/test">Customizable Dashboard (Beta)</a>
          </div>
        </div>
        <a href="/login">Sign In</a>
        <a href="/">Log Out</a>
      </div>
    </div>
    <main class="main">
      <div class="chart-title">Chart Selector</div>
      <select id="chartTypeSelect">
        <option value="">Select Chart Type</option>
        <option value="bar">Bar</option>
        <option value="doughnut">Doughnut</option>
        <option value="pie">Pie</option>
        <option value="scatter">Scatter</option>
        <option value="line">Line</option>
      </select>
      <div id="chartContainer"></div>
    </main>
    <script src="/static/JS/offline.bibliotheken.js/echarts.min.js"></script>
    <script src="/static/JS/offline.bibliotheken.js/jQuery-3.6.0.js"></script>
    <script src="/static/JS/sidemenu.js"></script>
    <script src="/static/JS/script.js"></script>
  </body>
</html>
